$primary: #343a40;
$secondary: #ff9900;
$warning: #CDA34D;
$info: #007bff;
$danger: #ff0000;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";